#application-comsapmagazzinoikons-display-component---Home--Gestionale-content{
    background-image: url("../public/magazzinoIkons.jpeg");
    background-size: contain;
}

#application-comsapmagazzinoikons-display-component---HomeUser--Gestionale-content{
    background-image: url("../public/magazzinoIkons.jpeg");
    background-size: contain;
}



#__form0--FC-NoHead--Grid{
    height: 74vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



